<?xml version="1.0" encoding="UTF-8"?>
<device id="bb103877-8335-444a-be5f-db8d916f6751" name="ST_001">
    <configuration>
        <server>
            <gateway>127.0.0.1</gateway>
            <port>5500</port>
            <sendtime>5000</sendtime>
        </server>
        <environment>
            <id>A316</id>
        </environment>
    </configuration>
    <resource port="COM5">
        <name>temperatureSensor</name>
        <description>It shows the temperature of the motor in Celsius degree.</description>
    </resource>
    <resource port="COM5">
        <name>vibrationSensor</name>
        <description>It shows the vibration of the motor in meters per second squared.</description>
    </resource>
    <resource port="COM5">
        <name>operationTime</name>
        <description>It shows the time of motor operation in hour.</description>
    </resource>
    <resource port="COM5">
        <name>operation</name>
        <description>It controls the motor state (on or off).</description>
        <commands>
            <command description="It turns the motor on.">motorOn</command>
            <command description="It turns the motor off.">motorOff</command>
        </commands>
    </resource>
</device>
